@keyframes hover {
  0% {top: -110px;}
  50% {top: -120px;}
  100% {top: -110px;}
}

#game {
  display: none;
  background-color: #dbdbdb;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

#fx {
  position: absolute;
  left: 0;
  top: 0;

  height: 100vh;
  width: 100%;

  z-index: 1000;
  pointer-events: none;

  background-color: rgba(0, 0, 0, 0);
}

.room-1 {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100vh;

  background: url("../../img/tiles/room.png") no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.room-0 {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100vh;

  background: url("../../img/tiles/start.png") no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#character {
  width: 20px;
  height: 40px;
  background: url("../../img/spritesheet.png");
  transition: transform .2s;
  transform: scale(6,6) rotateY(0deg);

  position: absolute;
  bottom: 105px;
	left: 50px;

  z-index: 500;
}

#ai {
  width: 20px;
  height: 40px;
  background: url("../../img/spritesheet.png");
  transition: transform .2s;
  transform: scale(6,6) rotateY(0deg);

  position: absolute;
  bottom: 105px;
	left: 300px;

  z-index: 400;

  cursor: pointer;
}

.painting {
  position: absolute;
  top: 28%;
  left: 40%;
  width: 700px;
  height: 300px;
}

.painting img {
  width: 100%;
  height: auto;
}

.text-bubble {
  position: absolute;
  top: -35px;
  left: -30px;
  width: 75px;
  height: 30px;
  font-size: 0.3em;
  padding: 2px 5px 10px 5px;
  background: url("../../img/game/textbubble.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.inventory-container {
  width: 870px;
  margin: auto;
}

.debug {
  position: fixed;
  top: 0px;
  right: 0px;
  font-family: "Courier New", Courier, monospace;
  width: 300px;
  height: 100vh;
  color: lime;
  background-color: black;
  text-align: right;
  padding: 10px;
  z-index: 5000;
  opacity: 0.1;
}

.debug:hover {
  opacity: 1;
}

#inventory {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 250px;

  background: rgba(0,0,0,0.63);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.63) 0%, rgba(0,0,0,0.63) 55%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.63)), color-stop(55%, rgba(0,0,0,0.63)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.63) 0%, rgba(0,0,0,0.63) 55%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.63) 0%, rgba(0,0,0,0.63) 55%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.63) 0%, rgba(0,0,0,0.63) 55%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.63) 0%, rgba(0,0,0,0.63) 55%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

  z-index: 50;
}

.inventory-container > div {
  background: url("../../img/game/inventory_slot.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 150px;
  width: 150px;
  margin: 10px;
  display: inline-block;
  position: relative;
  z-index: 100;
}

.item {
  position: absolute;
  z-index: 75;
  top: 35px;
  left: 35px;

  width: 80px;
  height: 80px;
}

.item > img {
  width: 100%;
  height: 100%;
}

.item > .delete {
  position: absolute;
  bottom: -15px;
  left: -5px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  z-index: 5000;
}

.turn-left {
  transform: scale(6,6) rotateY(180deg)!important;
}

.turn-right {
  transform: scale(6,6) rotateY(0deg)!important;
}

.turn-right > .text-bubble {
  transform: rotateY(0deg)!important;
}

.turn-left > .text-bubble {
  transform: rotateY(180deg)!important;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100%;

  z-index: 750;

  pointer-events: none;
}

#overlay > .pickup-item {
  position: absolute;
  bottom: 30px;

  cursor: pointer;
  pointer-events: all;

  height: 108px;
  width: 90px;

  background: url("../../img/game/pillar.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  z-index: 300;
}

.pickup-item.no-pickup {
  cursor: not-allowed !important;
  pointer-events: none;
}

#overlay > .pickup-item > img {
  position: relative;
  top: -110px;
  height: 100px;
  width: 100px;
}

.hover {
  animation: hover 5s ease-in-out infinite;
}

h3.item-name {
  position: absolute;
  width: 200px;
  top: -20px;
  left: -50px;
  text-align: center;
}
