@keyframes hover {
  0% {top: -110px;}
  50% {top: -120px;}
  100% {top: -110px;}
}

#game {
  display: none;
  background-color: #dbdbdb;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.room-1 {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100vh;

  background: url("../../img/tiles/start.png") no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.room-0 {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100vh;

  background: url("../../img/tiles/room.png") no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#character {
  width: 20px;
  height: 40px;
  background: url("../../img/spritesheet.png");
  transition: transform .2s;
  transform: scale(6,6) rotateY(0deg);

  position: absolute;
  bottom: 105px;
	left: 50px;

  z-index: 500;
}

.inventory-container {
  width: 870px;
  margin: auto;
}

#inventory {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 250px;

  background: rgba(0,0,0,0.63);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.63) 0%, rgba(0,0,0,0.63) 55%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.63)), color-stop(55%, rgba(0,0,0,0.63)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.63) 0%, rgba(0,0,0,0.63) 55%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.63) 0%, rgba(0,0,0,0.63) 55%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.63) 0%, rgba(0,0,0,0.63) 55%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.63) 0%, rgba(0,0,0,0.63) 55%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

  z-index: 50;
}

.inventory-container > .slot {
  background: url("../../img/game/inventory_slot.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 150px;
  width: 150px;
  margin: 10px;
  display: inline-block;
  position: relative;
  z-index: 100;
}

.item {
  position: absolute;
  z-index: 75;
  top: 35px;
  left: 35px;

  width: 80px;
  height: 80px;
}

.item > img {
  width: 100%;
  height: 100%;
}

.turn-left {
  transform: scale(6,6) rotateY(180deg)!important;
}

.turn-right {
  transform: scale(6,6) rotateY(0deg)!important;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100%;

  z-index: 200;
}

#overlay > .pickup-item {
  position: absolute;
  bottom: 30px;

  cursor: pointer;

  height: 108px;
  width: 90px;

  background: url("../../img/game/pillar.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  z-index: 300;
}

#overlay > .pickup-item > img {
  position: relative;
  top: -110px;
  height: 100px;
  width: 100px;
}

.hover {
  animation: hover 5s ease-in-out infinite;
}

h3.item-name {
  position: absolute;
  width: 200px;
  top: -20px;
  left: -50px;
  text-align: center;
}
